@charset "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

/* Basic body/nav css */

body {
  transition: all 0.3s ease;
  font-family: "Spectral", serif;
  font-weight: 300;
}

/* turns off the scroll icons on first page */
body.fp-viewing-firstPage #fp-nav {
  opacity: 0;
}

.section h2 {
  font-size: 2rem;
}

.section {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Menu Anchors */

#myMenu {
  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 1;
}

#myMenu ul {
  margin: 0 auto;
}

#myMenu li {
  display: inline;
  padding: 5px;
  text-decoration: none;
  border-radius: 30px;
  background: rgba(48, 48, 48, 0.59);
}

#myMenu li.active {
  background: rgba(35, 50, 74, 0.8);
}

#myMenu li:hover {
  background: rgba(24, 24, 24, 0.8);
}

#myMenu a {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

#myMenu a:hover {
  color: rgb(255, 254, 204);
}

/* specific sections */

/* landing page */

#section0 {
  background: url("../img/coffee-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.hello-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 80%;
  text-align: center;
  color: white;
}

.hello-content strong {
  color: rgb(255, 109, 4);
}

.scroll-icon {
  color: white;
  position: absolute;
  left: 50%;
  bottom: 50px;
  padding: 0 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all ease 0.5s;
}

.scroll-icon a {
  color: white;
}
#fp-nav ul li {
  display: none;
}

/* about me */

#section1 {
  background: url("../img/books-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me {
  width: 95%;
  height: 95%;
  background: rgba(245, 211, 218, 0.7);
  border-radius: 5px;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
}

.about-me p {
  text-indent: 2em;
  font-size: 1.3rem;
}

.language-header {
  text-align: center;
  color: rgb(50, 50, 50);
}

.active-head {
  color: black;
  font-weight: 700;
}

.language-result {
  width: 40%;
  margin: 20px auto;
  font-size: 1.3rem;
  text-align: left;
  line-height: 2.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 1.6rem;
  height: 90%;
}

.language-header {
  font-size: 2rem;
  text-decoration: underline;
}

.grid-item li {
  font-size: 1.2rem;
  line-height: 2rem;
  text-indent: 0.5rem;
}

.align-right {
  text-align: right;
  border-left: 1px solid #000;
  height: 95%;
}

/* .grid-item */

/* slide image borders */
#section2 {
  height: 100%;
  background: url("../img/gallery-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#section2 h3 {
  font-size: 2rem;
}

#section2 p {
  font-size: 1rem;
  margin-top: 20px;
}

#section2 h3 {
  color: white;
}
.intro {
  background: rgba(157, 255, 198, 0.1);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 8px;
  padding-top: 5%;
}
.laptop-screen {
  height: 20rem;
  width: 35%;
  border-top: 10px rgb(241, 241, 241) solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  margin-top: 1rem;
  border-left: 7px solid rgb(241, 241, 241);
  border-right: 7px solid rgb(241, 241, 241);
  background: rgb(25, 25, 25);
}

.laptop-bottom a {
  width: 50%;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.1rem;
  color: white;
  line-height: 2.5rem;
  transition: all 0.5s ease-in;
}

.laptop-img {
  width: 100%;
  height: 100%;
}

#friend-finder-img {
  background: url("../img/friendFinder-still.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#friend-finder-img:hover {
  background: url("../img/gif/friendFinder-motion.gif");
  background-size: 100% 100%;
  transition: all 0.5s ease-in;
}

#inst-slayer-img {
  background: url("../img/instSlayer-still.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#inst-slayer-img:hover {
  background: url("../img/gif/instSlayer-motion.gif");
  background-size: 100% 100%;
  transition: all 0.5s ease-in;
}

#cartoon-img {
  background: url("../img/cartoon-still.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#cartoon-img:hover {
  background: url("../img/gif/cartoon-motion.gif");
  background-size: 100% 100%;
  transition: all 0.5s ease-in;
}

#vocal-img {
  background: url("../img/vocal-still.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* #vocal-img:hover {
  background: url("../img/gif/vocal-motion.gif");
  background-size: 100% 100%;
  transition: all 0.5s ease-in;
} */

.slide-link:hover {
  display: inline;
}

.laptop-bottom {
  width: 35%;
  height: 20px;
  display: block;
  border: 15px solid rgb(250, 250, 250);
  margin: 0 auto;
  background: rgb(97, 97, 97);
  height: 35px;
}
/* click buttons */
.icon-up-open-big {
  display: inline-block;
}

.icon-up-open-big:after {
  text-align: center;
  content: "v";
  font-size: 1.5rem;
  display: block;

  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* contact */

#section3 {
  background: url("../img/phone-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#section3 h2 {
  font-size: 4rem;
  color: rgb(12, 12, 12);
}

.contact-bg {
  background: rgba(175, 192, 255, 0.15);
  width: 95%;
  height: 95%;
  margin: 0 auto;
  border-radius: 15px;
}
.contact-icons li {
  display: inline;
  font-size: 5rem;
  margin: 20px;
}

.contact-icons li a {
  color: rgb(12, 12, 12);
}

.contact-icons li a:hover {
  color: rgb(49, 71, 80);
  transition: 0.2s ease-in;
}

/* .footer-div{
  margin: 50px;
  height: 100px;
} */

@media only screen and (max-width: 700px) {
  #myMenu {
    display: none !important;
  }

  .laptop-screen {
    display: none;
    border: none;
  }

  .laptop-bottom {
    width: 80%;
    height: 20px;
    display: block;
    border: none;
    margin: 0 auto;
    background: rgba(154, 178, 217, 0.05);
    height: 50px;
    padding-top: 2rem;
  }
  .laptop-bottom a {
    display: block;
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 0.3rem;
    font-size: 1.5rem;
    border: none;
    color: black;
  }

  .laptop-bottom:hover {
    display: block;
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 0.3rem;
    font-size: 1.5rem;
    border: none;
    color: black;
  }
}
