@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Basic body/nav css */

body {
  transition: all .3s ease;
  font-family: 'Spectral', serif;
  font-weight: 300;
}

/* turns off the scroll icons on first page */
body.fp-viewing-firstPage #fp-nav{
    opacity: 0;
}

.section h2 {
  font-size: 2rem;
}

.section {
  text-align: center;
  margin: 0;
  padding: 0;
}


/* Menu Anchors */

#myMenu {

  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 1;

}

#myMenu ul {
  margin: 0 auto;
}

#myMenu li {
  display: inline;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  background: red;

}

#myMenu li.active {
  background: orange;
}

#myMenu li:hover {
  background: purple;
}

#myMenu a {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

#myMenu a:hover {

  color: yellow;
}


/* specific sections */

/* landing page */

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.hello-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 80%;
  text-align: center;
}

.hello-content strong {
  color: white;
}

/* about me */


/* #section1 {
  padding: 100px;
} */
.about-me {
  width: 95%;
  height: 95%;
  background: rgb(252, 247, 199);
  border-radius: 5px;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
}

.about-me p {
  text-indent: 2em;
}

.language-head {
  text-align: center;
}

.active-head {
  color: black;
  font-weight: 700;
}

.language-result {
  width: 40%;
  margin: 20px auto;
  font-size: 1.3rem;
  text-align: left;
  line-height: 2.5em;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 1.6rem;
  height: 90%;
}

.language-header {
  font-size: 2rem;
  text-decoration: underline;
}

.grid-item li {
  font-size: 1.2rem;
  line-height: 2rem;
  text-indent: .5rem;
}

.align-right {
  text-align: right;
  border-left:1px solid #000;
  height: 95%;
}

/* .grid-item */



/* slide image borders */
#section2 {
  height: 100%;
}
#section2 h3 {
  font-size: 2rem;
}

#section2 p {
  font-size: 1rem;
  margin-top: 20px;
}
.laptop-screen {
  height: 20rem;
  width: 35%;
  border-top: 10px rgb(241, 241, 241) solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  border-left: 7px solid rgb(241,241,241);
  border-right: 7px solid rgb(241,241,241);
  background: rgb(25,25,25);
}

.laptop-bottom a {
  width: 50%;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.3rem;
  color: white;
  line-height: 2.5rem;
  transition: all .5s ease-in;


}

.slide-link:hover {
  display: inline;;
}


.laptop-bottom {
  width: 35%;
  height: 20px;
  display: block;
  border: 15px solid rgb(250,250,250);
  margin: 0 auto;
  background: rgb(97, 97, 97);
  height: 40px;
}
/* click buttons */
.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  text-align: center;
  content: "v";
  font-size: 1.5rem;
  display: block;

  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}


.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 50px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
  transition: all ease .5s;
}



/* .footer-div{
  margin: 50px;
  height: 100px;
} */
